/*  your css code here. If applicable */
 body {
            background-color: #cccccc;
        }
       h1{
        text-align: center;
       }
       .player_one{
        background-color: white;
        border: 1px solid black;
       }
       .player_one ul li{
        list-style-type: none;


       }
       .player_one ul li a{
        text-decoration: none;
        
       }
       h2{
        text-align: center;
       }
.player_two{
	background:rgb(255,255,255);
}
       .player_two video{
        align-items: center;
        padding: 0px 259px;
       }
       .player_three{
		   padding-left:300px;
       } 
